{% comment %}
  /**
   * param {object} block - block object
   * @param {object} pages - pages object
   * @param {string} social_instagram_link - instagram link
   * @param {string} social_facebook_link - facebook link
   * @param {string} social_twitter_link - twitter link
   * @param {string} social_youtube_link - youtube link
   * @param {string} social_pinterest_link - pinterest link
   * @param {string} social_linkedin_link - linkedin link
   * @param {string} social_snapchat_link - snapchat link
   * @param {string} social_vimeo_link - vimeo link
   * @param {string} social_tiktok_link - tiktok link
   * @param {string} social_tumblr_link - tumblr link
   * @param {string} blocks_heading_size - heading size for title in blocks
   */
{% endcomment %}
<style>
    .input-group .input-group-btn:last-child .btn {
      font-size: 14px;
        padding: 3px 5px;
    }
    .input-group-field {
      flex: 1 1 auto;
      margin: 0;
      min-width: 0;
      font-size: 12px;
  }
</style>

<div class="footer__mobile-section">
  <div class="footer__blocks--mobile">
    <div class="footer__block--mobile">
      <h2 class="footer__title {% if blocks_heading_size %}{{ blocks_heading_size }}{% endif %}">
        {% comment %} {{ 'actions.get_in_touch' | t }} {% endcomment %}
        Join Our Newsletter
      </h2>
      <ul class="footer__menu footer__menu--underline">
        {%- if block.settings.phone != blank -%}
          <li>
            <a href="tel:{{ block.settings.phone }}">
              <span class="icon-and-text">
                {% render 'icon', name: 'phone' %}
                <span>{{ block.settings.phone }}</span>
              </span>
            </a>
          </li>
        {%- endif -%}
        {%- if block.settings.contact != blank -%}
          <li>
            <a href="{{ pages[block.settings.contact].url }}">
              <span class="icon-and-text">
                {% render 'icon', name: 'email' %}
                <span>{{ 'actions.email_us' | t }}</span>
              </span>
            </a>
          </li>
        {%- endif -%}
        {%- if block.settings.chat != blank -%}
          <li>
            <a href="{{ pages[block.settings.chat].url }}">
              <span class="icon-and-text">
                {% render 'icon', name: 'chat' %}
                <span>{{ 'actions.live_chat' | t }}</span>
              </span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
    {%- if block.settings.enable_social -%}
      <div class="footer__block--mobile">
        <div class="footer__title">
          {{ 'actions.follow_us' | t }}
        </div>
        {% render 'social-icons',
          additional_classes: 'footer__social',
          social_instagram_link: social_instagram_link,
          social_facebook_link: social_facebook_link,
          social_twitter_link: social_twitter_link,
          social_youtube_link: social_youtube_link,
          social_pinterest_link: social_pinterest_link,
          social_linkedin_link: social_linkedin_link,
          social_snapchat_link: social_snapchat_link,
          social_vimeo_link: social_vimeo_link,
          social_tiktok_link: social_tiktok_link,
          social_tumblr_link: social_tumblr_link
        %}
      </div>
    {%- endif -%}
    {%- render 'newsletter-form', section_id: section.id, snippet_context: 'section' -%}
  </div>
</div>
